<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Q&A</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'intro.css'%}" />
  </head>
  <body>
    <div class="banner">
      <header>
        <div class="navbar">
          <img src="{% static 'logo.png'%}" class="logo" width="80px" height="80px" />
          <ul>
            <li><a href="index_login">Log-in</a></li>
            <li><a href="signup">Sign-up</a></li>
          </ul>
        </div>
      </header>
      <div class="content">
        <h1>Q&A</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
          dolorum quasi quibusdam atque <br />
          voluptas incidunt sunt illum consectetur explicabo, ratione soluta
          tempore provident obcaecati cumque eligendi, sapiente unde quidem
          amet!
        </p>
      </div>
    </div>
  </body>
</html>
